body {
  font-family: sans-serif;
}

.header {
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.header span {
  font-size: 20px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  width: 280px;
}

/* дни недели */
.weekdays {
  margin: 0;
  padding: 16px 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
}

.weekdays li {
  font-weight: 600;
  padding: 7px;
  list-style: none;
}

/* дни */
.days {
  margin: 0;
  padding: 16px 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
}

.days li {
  padding: 8px;
  list-style: none;
  display: inline-block;
  text-align: center;
  /*color: #6c6868;*/
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

.days .day.today {
  background-color: dodgerblue;
  color: white;
}

.days .day:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.days .day.selected {
  box-sizing: border-box;
  border: 2px solid dodgerblue;
}

.days .day.today:hover {
  background-color: #0081ff;
}

.days .day.today.selected {
  border: 2px solid lightgray;
}

li.day_not_month {
  color: #636262;
  font-weight: lighter;
}
